.todo-task-box {
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #cacaf5;
  display: flex;
  padding: 17px 20px 0;
  margin-top: 5px;
}
.complete-icon {
  cursor: pointer;
}
.label-container {
  display: inline-block;
  position: relative;
}
.crossout-bar {
  width: 0;
  border: 1px solid rgba(200,200,200,0);
  transition: width 1s;
  height: 0;
  position: absolute;
  top: 12px;
}
.crossout-bar.active {
  width: 100%;
  border: 1px solid rgba(30,30,30,1);
}
.todo-label {
  padding-left: 20px;
  flex: 1;
  text-align: left;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 5px;
}
.type-pill {
  width: 140px;
}
.todo-type {
  color: white;
  height: 25px;
  padding: 0px 5px 5px 5px;
  cursor: pointer;
  float: right;
}
.type-green {
  background-color: rgb(37, 126, 49);
}
.type-green.light {
  background-color: rgba(37, 126, 49,0.2);
}
.type-purple {
  background-color: rgb(152,41,167);
}
.type-purple.light {
  background-color: rgba(152,41,167,0.2);
}
.type-pink {
  background-color: rgb(255,88,205);
}
.type-pink.light {
  background-color: rgba(255,88,205,0.2);
}
.type-red {
  background-color: rgb(150,46,39);
}
.type-red.light {
  background-color: rgba(150,46,39,0.2);
}
.type-yellow {
  background-color: rgb(235, 221, 34);
  color: black;
}
.type-yellow.light {
  background-color: rgba(235, 221, 34, 0.2);
}
.type-blue {
  background-color: rgb(39, 106, 150);
}
.type-blue.light {
  background-color: rgba(39, 106, 150,0.2);
}
.type-orange {
  background-color: rgb(221,117,19);
  color: black;
}
.type-orange.light {
  background-color: rgba(221,117,19,0.2);
}
.remove-task-button {
  margin-left: 15px;
  cursor: pointer;
}
