.todo-list {
    padding: 10px;
}
h1 {
    text-align: center;
}
.list-container {
    height: calc(100vh - 160px);
    overflow-y: auto;
}
.flex-right {
    flex: 1;
    text-align: right;
}
.list-header-row {
    display: flex;
}