.todo-list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 30px);
}
h1 {
    text-align: center;
}
.list-container {
    overflow-y: auto;
    flex: 1;
}
.flex-right {
    flex: 1;
    text-align: right;
}
.list-header-row {
    display: flex;
}