.button-box {
    cursor: pointer;
    background-color: #378fe2;
    display: inline-block;
    color: white;
    padding: 5px 7px 5px 5px;
}
.disabled {
    background-color: #adb7c0;
    cursor: default;
}