#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: center; */
    color: #2c3e50;
}
body {
    margin: 0;
    background-color: #fbfbff;
}
.float-right {
    float: right;
}
.display-flex {
    display: flex;
}
.flex-1 {
  flex: 1;
}
h1 {
    text-align: center;
}
.width-20 {
    width: 20%;
}
.app-content {
  padding: 10px;
}
.cursor-pointer {
  cursor: pointer;
}
* {
    box-sizing: border-box;
}
.color-green {
    color: #257e31;
}
.color-blue {
    color: #378fe2;
}
.color-red {
    color: #962e27;
}
.color-light-gray {
    color: #adb7c0;
}
.margin-left-5 {
    margin-left: 5px;
}
.margin-left-15 {
    margin-left: 15px;
}